body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

#message {
    height: 30px;
}

.avail:hover {
    background: #6a53aa;
}

#board-user .s1,
#board-computer .s1 {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.row {
    margin: 0;
}

.hit {
    background: black ;
}

.miss {
    background: green ;
}

