body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/assets/media/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}


#message {
    height: 30px;
}

.avail:hover {
    background: #6a53aa;
}

#board {
    margin-bottom: 40px;
}

#board-user .s1,
#board-computer .s1 {
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

.row {
    margin: 0;
}

.hit {
    background: black;
}

.miss {
    background: green;
}

.fa-solid {
    position: relative;
    top: 10px;
    left: -7px;
}

.fa-lg {
    font-size: 1.4rem;
}

img {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
    left: -8px;

}

button {
    margin-right: 15px;
}

.brand-logo {
    margin-left: 15px;
}

.container {
    text-align: center;

}